# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore the goreportcard.db file generated
goreportcard.db

# Coz I use vim, adding this line.
*.swp

vendor/
main
